<div class="container">
  <section class="h-100 py-5">
    <div class="row d-flex justify-content-center h-100">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h2>Recover Your Password</h2>
          <p>Remembered the password? click to <a routerLink="/login">Login</a></p>
          <hr>
          <form name="form" #fpf="ngForm" (ngSubmit)="fpf.form.valid && sendPassword()" novalidate>
            <div class="mb-3">
              <label for="inputEmail" class="form-label">Email address</label>
              <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" name="email" [(ngModel)]="forgotPasswordFormValue.email" #email="ngModel" required>
              @if ((email.touched || fpf.submitted) && email.errors?.['required']) {
                <span class="text-danger">
                  User email is required
                </span>
              }
            </div>
            <div class="mb-3">
              <label for="inputMobile" class="form-label">Mobile number</label>
              <input type="tel" class="form-control" id="inputMobile" aria-describedby="mobileHelp" name="mobile" [(ngModel)]="forgotPasswordFormValue.mobile" #mobile="ngModel" required>
              @if ((mobile.touched || fpf.submitted) && mobile.errors?.['required']) {
                <span class="text-danger">
                  User mobile number is required
                </span>
              }
            </div>
            <button type="submit" class="btn btn-primary">Send Password</button>
            <div class="mb-3">
              <p>We will sent a temporary password to your email use that for login and update the password in your
                profile</p>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </section>
</div>
