<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container mt-5">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-12">
      <h1>About Us</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Consectetur impedit quibusdam sint quas pariatur praesentium!
        Eaque error ex architecto, consequatur adipisci sint itaque.
        Aperiam at nostrum pariatur autem dignissimos molestiae.
      </p>
    </div>
    <!-- /.row -->

    <!-- First Catrgory Start -->
    <div class="mt-5 mb-5">
      <h2 class="pb-2 border-bottom">Top Products</h2>
      <!-- START PRODUCT DISPLAY -->
      <div class="row">
        <div class="col col-md-3 col-6 mb-2">
          <div class="card h-100">
            <!-- Product image-->
            <a href="pages/productDetails.html">
              <img class="card-img-top" src="assets/images/products/1.webp" alt="" />
            </a>
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">Test product</h5>
                <!-- Product price-->
                &#8377; 500
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="d-grid">
                <button class="btn btn-info me-2" type="button">
                  Add to cart
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-md-3 col-6 mb-2">
          <div class="card h-100">
            <!-- Product image-->
            <a href="pages/productDetails.html">
              <img class="card-img-top" src="assets/images/products/2.webp" alt="" />
            </a>
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">Test product</h5>
                <!-- Product price-->
                &#8377; 500
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="d-grid">
                <button class="btn btn-info me-2" type="button">
                  Add to cart
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-md-3 col-6 mb-2">
          <div class="card h-100">
            <!-- Product image-->
            <a href="pages/productDetails.html">
              <img class="card-img-top" src="assets/images/products/3.webp" alt="" />
            </a>
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">Test product</h5>
                <!-- Product price-->
                &#8377; 500
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="d-grid">
                <button class="btn btn-info me-2" type="button">
                  Add to cart
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-md-3 col-6 mb-2">
          <div class="card h-100">
            <!-- Product image-->
            <a href="pages/productDetails.html">
              <img class="card-img-top" src="assets/images/products/4.webp" alt="" />
            </a>
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">Test product</h5>
                <!-- Product price-->
                &#8377; 500
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="d-grid">
                <button class="btn btn-info me-2" type="button">
                  Add to cart
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /END PRODUCT DISPLAY -->
    </div>
    <!-- First Catrgory End -->
  </div>
  <!-- Third Catrgory End -->
</div>
