<div class="container">
  <div class="row">
    <div class="col-lg-12 mb-4 mt-4">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <h3 class="fw-normal mb-0 text-black">Product List</h3>
        <div class="btn-group">
          <button class="btn btn-secondary btn-sm" type="button">
            Short By: New
          </button>
          <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li> <a class="dropdown-item" href="#">New first</a></li>
          </ul>
        </div>
      </div>
      <!-- START PRODUCT DISPLAY -->
      <div class="row mt-5">
        @for (product of productList; track $index) {
          <div class="col col-md-3 col-6 mb-2">
            <div class="card h-100">
              <!-- Product image-->
              <a href="product-view/{{product.id}}">
                <img class="card-img-top" src="{{product.image}}" alt="{{product.name}}"  />
              </a>
              <!-- Product details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Product name-->
                  <h5 class="fw-bolder">{{product.name}}</h5>
                  <!-- Product price-->
                  &#8377; {{product.dp}}
                </div>
              </div>
              <!-- Product actions-->
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="d-grid">
                  <button class="btn btn-info me-2" type="button" (click)="addItemTocart(product.id)">Add to cart</button>
                </div>
              </div>
            </div>
          </div>
        } @empty {
          <div>No Products</div>
        }
      </div>
      <!-- /END PRODUCT DISPLAY -->
    </div>
  </div>
</div>
