<div class="secondary-nav-customize">
  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
      <div class="col-md-3 col-8 mb-md-0">
        <a routerLink="/"
          class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
          <img src="assets/favicons/favicon-32x32.png" alt="" class="m-2" />
          <span class="fs-4">ShoeMart</span>
        </a>
      </div>
      <div class="col-4 d-block d-sm-none text-end px-1 mb-3">
        <a routerLink="/cart" type="button" class="btn btn-outline-primary">
          <i class="bi-cart-fill me-1"></i>
          <span class="badge bg-dark text-white ms-1 rounded-pill">
            {{cartQuantity}}
          </span>
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="/products-list/men" class="nav-link px-2">Men</a></li>
        <li>
          <a routerLink="/products-list/women" class="nav-link px-2">Women</a>
        </li>
        <li><a routerLink="/products-list/kids" class="nav-link px-2">Kids</a></li>
        <li><a routerLink="/products-list/sports" class="nav-link px-2">Sports</a></li>
      </ul>

      <div class="col-md-3 col-12 d-none d-sm-block text-end">
        <a routerLink="/cart-view" type="button" class="btn btn-outline-primary me-2">
          <i class="bi-cart-fill me-1"></i>
          Cart
          <span class="badge bg-dark text-white ms-1 rounded-pill">
            {{cartQuantity}}
          </span>
        </a>
      </div>
    </header>
  </div>
</div>
