<nav class="bg-primary border-bottom">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
      <li class="nav-item"><a routerLink="/" class="nav-link text-white px-2 active" aria-current="page">Home</a>
      </li>
      <li class="nav-item"><a routerLink="/about" class="nav-link text-white px-2">About</a></li>
      <li class="nav-item"><a routerLink="/faq" class="nav-link text-white px-2">FAQ</a></li>
      <li class="nav-item"><a routerLink="/contact" class="nav-link text-white px-2">Contact</a></li>
    </ul>
    <ul class="nav" id="beforeLogin">
      <li class="nav-item"><a routerLink="/login" class="nav-link text-white px-2">Login</a></li>
      <li class="nav-item d-none d-sm-block">
        <a routerLink="/register" class="nav-link text-white px-2">
          Sign up
        </a>
      </li>
    </ul>
    <ul class="nav" id="afterLogin">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="bi bi-person-circle"> Hi Dummy</i>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" routerLink="/profile">
              <i class="bi bi-person-circle"></i> Profile
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="/orders">
              <i class="bi bi-card-list"></i> Orders
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="/wishlist">
              <i class="bi bi-suit-heart"></i> Wishlist (10)
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item" onClick="logOut()">
              <i class="bi bi-box-arrow-right"></i> Logout
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
