<div class="container">

  <div class="p-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Want to connect with us or heare from us?</h1>
      <p class="col-md-8 fs-4">Our trained customer excutive can quickly solve many issues or direct you to the right person or place.</p>
      <button class="btn btn-primary btn-lg" type="button">Send an Email</button>
    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-4">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <h2>Chat right now</h2>
        <p>We will redirect you to a chat window. Please share your relevant info. Don't share you password or otp with any one</p>
        <p><strong>WhatsApp Messaging Number: </strong> +91-1234-567899</p>
        <p>Immediately start conversation with our chatbot <i class="bi bi-arrow-down-circle-fill"></i></p>
        <button class="btn btn-outline-secondary" type="button">Start Chat </button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <h2>Talk with us</h2>
        <p>We'll first get a few details about your issue and then someone will call you right away.</p>
        <p><strong>Office Number: </strong> +91-1234-567899</p>
        <p><strong>Customer Suppor Numbert: </strong> +91-1234-567899</p>
        <button class="btn btn-outline-secondary" type="button">Call button</button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="h-100 pt-5 pb-2 px-2 bg-body-tertiary border rounded-3">
        <h2>Postal Address</h2>
        <div class="card border-info mb-2">
          <div class="card-body">
            <h5 class="card-title">Registered Address</h5>
            <p class="card-text">My Online Shop India Private Limited, Pritech Park SEZ, Bellandur Village, Varthur Hobli, Bengaluru – 560103</p>
          </div>
        </div>
        <div class="card border-info">
          <div class="card-body">
            <h5 class="card-title">Office Address</h5>
            <p class="card-text">My Online Shop India Private Limited, Pritech Park SEZ, Bellandur Village, Varthur Hobli, Bengaluru – 560103</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
