<div class="container">
  <section class="h-100 py-5">
    <div class="row d-flex justify-content-center h-100">
      <div id="notfound">
        <div class="notfound">
          <div class="notfound-404">
            <h1>404</h1>
          </div>
          <h2>We are sorry, Page not found!</h2>
          <p>The page you are looking for might have been removed had its name changed or is temporarily
            unavailable.
          </p>
          <div class="mt-5">
            <a onclick="history.back()" class="back">Go Back</a>
            <a href="home" class="home">Home</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
