<div class="container marketing">
  <div class="p-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">It's few about <b>"ShoeMart"</b> E-commerce</h1>
      <p class="col-md-8 fs-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia repudiandae eius
        ex, consequuntur hic beatae earum soluta sint sed blanditiis!</p>
      <a href="https://github.com/SrikrushnaP" target="_blank" class="link">Few more from our GitHub link</a>
    </div>
  </div>

  <div class="row m-4">
    <div class="col-lg-4">
      <img src="https://i.ibb.co/0VLHpj9/book.jpg" alt="" class="img-fluid img-cover">
      <h2 class="fw-normal">Service</h2>
      <p>
        Some representative placeholder content for the three columns of
        text below the carousel. This is the first column.
      </p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="https://i.ibb.co/gt06x3P/sylabus.jpg" alt="" class="img-fluid img-cover">
      <h2 class="fw-normal">Vision</h2>
      <p>
        Another exciting bit of representative placeholder content. This
        time, we've moved on to the second column.
      </p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="https://i.ibb.co/djbHB6K/notes.jpg" alt="" class="img-fluid img-cover">
      <h2 class="fw-normal">Misson</h2>
      <p>
        And lastly this, the third column of representative placeholder
        content. Lorem ipsum dolor sit amet.
      </p>
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">About project</h2>
    <h5>What you will learn ? What improvement you can do ? What's your next step ?</h5>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti quam ducimus, doloribus porro, sapiente
      commodi rem error natus aspernatur excepturi iusto sint suscipit tempore? Tenetur ipsa cupiditate soluta
      aperiam minus omnis perspiciatis odit? Est sit necessitatibus, similique mollitia officia facere soluta eos
      ipsa accusantium, corrupti tempora cumque, expedita voluptatum? Totam aut necessitatibus voluptatem, ipsum
      voluptatibus laborum nulla est laudantium veritatis iure. Voluptatibus rerum dolorum rem, adipisci corrupti
      exercitationem officiis, ad excepturi est accusantium cumque reprehenderit soluta maiores consequatur. At
      praesentium quia error id recusandae autem voluptatibus consequatur neque deleniti exercitationem, suscipit
      corrupti, modi ullam odit cum quos est vitae iste. Id eos repudiandae eius quam aperiam, laborum veritatis
      illo suscipit alias labore ratione cumque nam culpa porro sequi corrupti cum, ea ducimus, iure reprehenderit
      numquam. Enim, beatae dignissimos odit illum officiis sit sed modi totam, numquam nisi suscipit magni? Quam
      pariatur quaerat ipsam dolore? Sequi, sed minus non perferendis minima quo maxime incidunt harum natus
      pariatur, recusandae fugit, consequatur odit qui nisi quia quod excepturi culpa facilis dicta voluptatem a.
      Voluptas aut voluptatum animi doloremque quia sapiente eius, rerum non aperiam quisquam omnis perferendis vero
      vitae, quo error. Impedit commodi placeat saepe neque quia nisi, ea voluptas repellat provident excepturi.
    </p>
    <h5>What improvement you can do ?</h5>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, inventore cupiditate magnam et nisi vero fuga
      deserunt possimus sed ratione, quidem eaque harum ut reprehenderit quae. Molestias aliquam id atque autem
      culpa deserunt odio, placeat vero non saepe? Odio dolorum saepe assumenda voluptate aperiam voluptatum officia
      ut quod ratione iure. Perferendis totam repudiandae dolorem architecto. Consequuntur quasi quos dolorem
      expedita? Suscipit omnis molestias, quibusdam nemo id debitis reiciendis recusandae, molestiae quos doloribus
      magni corrupti vitae harum. Cum officiis corporis quidem quae optio at quia ab illo amet adipisci quam,
      doloribus fugit laudantium porro reprehenderit, magni impedit similique voluptatem corrupti veniam nulla
      dignissimos quo? Fugiat minima vel ad, error voluptatem eligendi est cum excepturi debitis reprehenderit
      aspernatur libero in sunt ipsum! Illum nam quod accusamus consequatur ipsam inventore, incidunt accusantium
      fugit ab, magnam molestias id rerum quaerat suscipit beatae quae? Enim animi aliquid quibusdam nostrum maiores
      optio error, perferendis molestias quos dolor impedit iusto id, facere, ratione earum harum laboriosam
      suscipit dolorum fugit dicta dolorem placeat corrupti. Atque quia temporibus itaque accusantium, vitae
      incidunt ab et tempora ullam, quaerat, officiis voluptatem assumenda ducimus ipsam? Velit sit perspiciatis
      mollitia praesentium sunt, recusandae blanditiis expedita corporis error reprehenderit quae a maxime aut hic
      debitis est ipsum asperiores quo aliquam et. Blanditiis nostrum repudiandae quidem odit labore natus totam ad
      mollitia beatae nesciunt alias eos nobis fuga quos vel, qui ut veniam corporis rerum consequuntur dolor fugit,
      dolores veritatis ratione? Explicabo assumenda velit est nesciunt, sapiente dicta quod distinctio aperiam
      inventore soluta vero dolorum vitae minus esse modi neque deserunt provident temporibus corporis sint tempore
      eius? Nesciunt delectus aperiam odit nulla quo recusandae quos fugit, dolorum illum, voluptates voluptatem
      officia natus. Provident, iusto accusantium. Cum accusamus culpa mollitia perferendis. Quia, ullam beatae
      facere natus, sapiente voluptatum iusto sunt hic ea dolore, repellendus voluptates delectus?
    </p>
    <h5> What's your next step ?</h5>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque modi expedita, aut molestiae, cum fugiat,
      porro ipsum praesentium magnam repudiandae ex enim id? Magnam porro labore nihil neque accusamus ullam vitae?
      Aliquam architecto voluptates, ut nesciunt minus, non magnam magni officia recusandae, obcaecati dolor ad.
      Veniam porro, illum error fugit aspernatur animi fuga hic recusandae. Aliquam repudiandae deleniti a,
      quibusdam delectus tenetur alias est recusandae praesentium suscipit quasi odio cumque, iure amet totam
      accusamus at adipisci officia, magni exercitationem atque velit quisquam? Delectus maiores optio explicabo
      dolore sint, amet doloremque, corporis, totam culpa earum reiciendis possimus ducimus repudiandae aperiam?
      Quas atque natus libero. Repudiandae reiciendis ducimus laudantium ex ad dicta sit quaerat suscipit? Vitae
      quasi nihil obcaecati vel, totam ratione nesciunt unde quam. Deserunt, provident. Quod corrupti sed suscipit,
      natus ipsa beatae fugit cumque nostrum vel alias dolorem, eos architecto non quo recusandae, blanditiis
      eveniet consequatur a expedita nulla at dolores esse! Cumque provident quos reprehenderit sint laudantium,
      omnis, repellendus, commodi quam facere ad temporibus est nihil? Explicabo porro, eum commodi placeat soluta
      tempore maxime molestias recusandae, unde ullam eaque! Architecto, et aut in provident repellendus voluptatum
      voluptates, optio incidunt recusandae, tempora nam corporis! Velit, dolorum? Numquam cumque repudiandae ipsum.
    </p>
  </div>
</div>
