<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container">
  <section class="h-100 py-5">
      <!-- If product in cart -->
       @if (wishlistProductList?.length) {
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-md-10 col-12">
            <div class="d-flex justify-content-between align-items-center mb-4">
              <h3 class="fw-normal mb-0 text-black">Shopping Cart Details</h3>
            </div>
            @for (product of wishlistProductList; track $index) {
              <div class="card rounded-3 mb-4">
                <div class="card-body p-4">
                  <div class="row d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img src="{{product.image}}"
                        class="img-fluid rounded-3" alt="{{product.name}}">
                    </div>
                    <div class="col-md-4 col-lg-4 col-xl-4">
                      <p class="lead fw-normal mb-2">{{product.name}}</p>
                      <p>{{product.description}}</p>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h5 class="mb-0">&#8377; {{product.dp}}</h5>
                    </div>
                    <div class="col-md-1 col-lg-3 col-xl-3 text-end">
                      <a class="btn btn-info" routerLink="/product-view/{{product?.id}}">
                        <i class="bi bi-eye-fill"></i>
                      </a>
                      <a class="btn btn-success ms-1" (click)="addToCart()">
                        <i class="bi bi-cart-plus"></i>
                      </a>
                      <a class="btn btn-danger ms-1" (click)="removeProductFromWishlist(product?.id, $index)">
                        <i class="bi bi-trash3-fill"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
      } @else {
        <!-- If there is no product incart -->
      <div>
        <img src="../../../assets/images/empty-shopping-cart.png" class="img-fluid rounded mx-auto d-block"
          alt="image name">
        <div class="text-center mb-5 mt-5">
          <h3>Your wishlist is empty! Let’s add some item to your bag? </h3>
          <a routerLink="/" class="btn btn-info btn-lg mt-4">Go to Home page</a>
        </div>
      </div>
      }
  </section>
</div>
