<div class="container">
  <section class="h-100 py-5">
    <div class="row d-flex justify-content-center h-100">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h2>Login User</h2>
          <p>Don't have an account? click to <a routerLink="/register">Register</a></p>
          <hr>
          <form name="form" #tf="ngForm" (ngSubmit)="tf.form.valid && onSubmitSignIn()" novalidate>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                name="userEmail" [(ngModel)]="signInFormValue.userEmail" #userEmail="ngModel">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="userPassword"
              [(ngModel)]="signInFormValue.userPassword" #userPassword="ngModel">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <div class="mb-3">
              <p>Didn't rember your password? click to <a routerLink="/forgot-password">Recover</a></p>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </section>
</div>
