<div class="row">
  <div class="col col-md-4 col-6">
    <div class="card h-100">
      <!-- Product image-->
      <a href="pages/productDetails.html">
        <img class="card-img-top" src="assets/images/banners/offer-banner-small-1.jpg" alt="" />
      </a>
    </div>
  </div>
  <div class="col col-md-4 col-6">
    <div class="card h-100">
      <!-- Product image-->
      <a href="pages/productDetails.html">
        <img class="card-img-top" src="assets/images/banners/offer-banner-small-2.jpg" alt="" />
      </a>
    </div>
  </div>
  <div class="col col-md-4 col-6">
    <div class="card h-100">
      <!-- Product image-->
      <a href="pages/productDetails.html">
        <img class="card-img-top" src="assets/images/banners/offer-banner-small-3.jpg" alt="" />
      </a>
    </div>
  </div>
</div>
